


svg path{
   stroke: #d8d6aa;
}

svg body {

background-color: #dbfff8;
}
svg text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
svg text::selection {
    background: none;
}

h1 {
    color: white;
    background-color: grey;
}